if SHIELD_CORNEDONG_LEFT

config ZMK_KEYBOARD_NAME
    default "Cornedong"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORNEDONG_LEFT || SHIELD_CORNEDONG_RIGHT
config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_LOW_PRIORITY_WORK_QUEUE
    default y

endif
