config SHIELD_CORNEDONG_LEFT
    def_bool $(shields_list_contains,cornedong_left)

config SHIELD_CORNEDONG_RIGHT
    def_bool $(shields_list_contains,cornedong_right)

config SHIELD_CORNEDONG_DONGLE
	def_bool $(shields_list_contains,cornedong_dongle)
